.buttonRight {
    text-align: right;
}

.buttonleft {
    text-align: left;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #212529;
    border-color: #212529;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #212529;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.textoBold {
    font-weight: bold;
}

.table-sem-quebra {
    max-width: 60ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.semBorda {
    border-radius: 0.0rem;
    -webkit-border-radius: 0.0rem;
    -moz-border-radius: 0.0rem;
    -ms-border-radius: 0.0rem;
    -o-border-radius: 0.0rem;
}

.fontMenuPrincipal {
    font-family: 'Bebas Neue', cursive;
}